.body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}
.logo-text {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.4;
  color: #4d5ae5;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
p {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.16;
}
.order-service-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
}
.order-service-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.navbar a {
  color: #2e2f42;
}
.navbar a:hover {
  color: #404bbf;
}
.navbar a:active {
  color: #4d5ae5;
}
.address a {
  color: #2e2f42;
}
.address a:hover {
  color: #404bbf;
}
.address a:active {
  color: #4d5ae5;
}
.section-1 {
  background-color: #2e2f42;
}
.section-1 h1 {
  color: #ffffff;
}
.section-3 {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
