.body {
  font-family: "roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #2e2f42;
}
h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 2%;
}
p {
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 14px;
}
.order-service-button {
  background-color: #4d5ae5;
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
}
.order-service-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.navbar a {
  color: #2e2f42;
}
.navbar a:hover {
  color: #404bbf;
}
.navbar a:active {
  color: #4d5ae5;
}
.address a {
  color: #2e2f42;
}
.address a:hover {
  color: #404bbf;
}
.address a:active {
  color: #4d5ae5;
}
.section-1 {
  background-color: #2e2f42;
}
.section-1 h1 {
  color: #ffffff;
}
.section-3 {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
