body {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #2e2f42;
}
h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}
h3 {
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 2%;
}
p {
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
}

button {
  background-color: #4d5ae5;
  font-weight: bold;
  letter-spacing: 0.5%;
  line-height: 24px;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
link {
  font-weight: regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: underline;
}
